*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16.26px;
  font-family: 'Rubik';
}

.nav-top-bar {
  height: 6px;
  background-color: #FF9800;
}

.group {
  display: flex;
  align-items: center;
  margin: 12px 18px;
}

.fade-logomark {
  max-width: 99px;
  margin: 0 auto 0 0;
}

.group-item-logomark {
  margin: 0px auto 0px 0px;
}

.group-item-left {
  margin: auto 0px;
}

.group-item-middle {
  margin: 0px auto 0px 16px;
}

.group-item-right {
  margin-left: 12px;
}

.folder-icon {
  max-width: 40px;
}

h2 {

}
