*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16.26px;
  font-family: 'Rubik';
}

/* Top of every screen */
nav {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
  position: sticky;
  top: 0px;
}

.nav-top-bar {
  height: 6px;
  background-color: #FF9800;
}

/* Encloses all cards */
.group {
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

.fade-logomark {
  max-width: 99px;
}

.group-item-logomark {
  margin: 0px auto 0px 0px;
}

.group-item-left {
  margin: auto 0px;
}

.group-item-middle {
  margin: 0px auto 0px 16px;
}

.group-item-right {
  margin-left: 12px;
}

.folder-icon {
  max-width: 40px;
}

/* Typography */
h1 {
  font-size: 1.29em;
}

h3 {
  color: rgba(0, 0, 0, 0.6);
}

/* Big orange button at the bottom of the app */
.action-button {
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 0px;
  left: 0px;
}

.action-button img {
  margin: 0 auto;
}

/* File list */

.card-image {
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12%;
}

#card-image10 {
  background-image:url(images/card-image10.png);
}

#card-image7 {
  background-image:url(images/card-image7.png);
}

#card-image5 {
  background-image: url(images/card-image5.jpg);
}

#card-image8 {
  background-image: url(images/card-image8.png);
}

#card-image4 {
  background-image: url(images/card-image4.png);
}

#card-image3 {
  background-image: url(images/card-image3.png);
}

#card-image6 {
  background-image: url(images/card-image6.png);
}

#card-image2 {
  background-image: url(images/card-image2.png);
}

.group-inside {
  margin-top: 12px;
}

.group-item-detail {
  margin: 8px 0px;
}

.progress-bar-full {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: linear-gradient(
   45deg,
   #ff9800 0%, #ff9800 26%,
   #ffa726 26%, #ffa726 38%,
   #ffb74d 38%, #ffb74d 50%,
   #ffcc80 50%, #ffcc80 62%,
   #ffe0b2 62%, #ffe0b2 74%,
   #fff3e0 74%);
}

.progress-bar-nearlyfull {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: linear-gradient(
   45deg,
   #ff9800 0%, #ff9800 26%,
   #ffa726 26%, #ffa726 38%,
   #ffb74d 38%, #ffb74d 50%,
   #ffcc80 50%, #ffcc80 62%,
   #ffe0b2 62%, #ffe0b2 74%,
   #D8D8D8 74%);
}

.progress-bar-middlefull {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: linear-gradient(
   45deg,
   #ff9800 0%, #ff9800 26%,
   #ffa726 26%, #ffa726 38%,
   #ffb74d 38%, #ffb74d 50%,
   #ffcc80 50%, #ffcc80 62%,
   #D8D8D8 62%, #D8D8D8 74%);
}

.progress-bar-middle {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: linear-gradient(
   45deg,
   #ff9800 0%, #ff9800 26%,
   #ffa726 26%, #ffa726 38%,
   #ffb74d 38%, #ffb74d 50%,
   #D8D8D8 50%, #D8D8D8 74%);
}

.progress-bar-middleempty {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: linear-gradient(
   45deg,
   #ff9800 0%, #ff9800 26%,
   #ffa726 26%, #ffa726 38%,
   #D8D8D8 38%, #D8D8D8 74%);
}

.progress-bar-nearlyempty {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: linear-gradient(
   45deg,
   #ff9800 0%, #ff9800 26%,
   #D8D8D8 26%, #D8D8D8 74%);
}

.progress-bar-empty {
 border-radius: 25px;
 height: 6px;
 width: 53px;
 background: #D8D8D8;
}

.menu {
  opacity: 0;
  position: absolute;
  right: 0px;
  margin: 0 auto;
  width: 200px;
  height: 300px;
  border: solid 2px blue;
}

.active {
  opacity: 1;
}

/* Maybe use for hovering over img to make it bigger */
/* .action-button:hover .menu {
  opacity: 1;
} */
