*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFF;
  font-size: 7px;
  font-family: 'Work Sans', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  margin: 0 auto;
  width: 80%;
  overflow: scroll;
}

/* Homepage Navbar */
.home-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.home-nav {
  display: flex;
  margin: 4% 5% 4% 5%;
}

.home-nav-link {
  margin: auto 5% auto 0%;
  font-size: 1.8em;
}

.home-sign {
  margin: auto 0% auto 0%;
  font-size: 1.8em;
}

.home-nav-link {
  color: rgba(0, 0, 0, 0.6);
}

.logomark {
  width: 113px;
  height: 40px;
  margin: 2% auto 0% 0%;
  background-image:url(images/fadelogomark.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Homepage Hero */
.hero {
  background-color: #FFF3E0;
  padding: 10% 5% 0% 5%;
  display: block;
}

.hero-content {
  padding: 10% 0% 0% 0%;
  width: 80%;
  background-color: #FFF3E0;
}

.overline {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 3% auto 13% 0%;
  color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 5em;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1.2em;
}

.logo-sunset {
  height: 80em;
  margin: 20% 0% 0% auto;
  background-image:url(images/catcoffee.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-content .hero-text {
  margin: 8% 0% 20% 0%;
}

.start-button {
    display: inline-block;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5em;
    background-color: #FB8C00;
    padding: 1em 2em;
    border-radius: 45px;
    box-shadow: 2px 8px 3px -6px rgba(0, 0, 0, 0.14), 0px 2px 3px 1px rgba(0, 0, 0, 0.14);
}

.body-1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
}

/* Mockups */
.how {
  display: block;
  padding: 12% 5% 5% 5%;
  background-color: #FFF3E0;
}

.feature-container {
  margin-top: 10%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.mockup img {
  width: 90%;
  margin: 10% 0%
}

.feature-container .hero-text {
  margin-top: 3%;
}

.feature-container ul {
  display: grid;
}

.feature-container li:nth-child(2) {
  grid-row: 1;
}

.feature-container li:nth-child(3) {
  grid-row: 2;
}


h2 {
  font-size: 5em;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.2em;
}

/* Pricing */
.pricing {
  background-color: #FFF3E0;
  padding: 8% 5% 17% 5%;
  display: block;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 7.5em;
  letter-spacing: 2px;
  font-weight: 400;
}

.plan-detail {
  display: flex;
}

.plan-detail p {
  padding-top: 1.2vh;
}

.plan-title {
  margin-bottom: 20%;
}

.pricing-content {
  background-color: #FFF3E0;
}

.plan-container .light {
  background-color: #FFF3E0;
  border: 2px solid #FB8C00;
}

.pricing-content .start-button {
  margin-top: 10%;
  }

.pricing-content h1 {
  font-size: 5em;
  background-color: #FFF3E0;
}

.pricing-content .hero-title {
  margin-bottom: 6%;
}

.pricing-content .body-1 {
  margin: 0.2% 0% 3% 0%;
}


/* Footer */

.home-footer {
  border-top: 6px solid #fb8c00;
}

.footer-content {
  display: block;
  margin: 0% 5%;
  padding: 10% 0% 10% 0%;
}

.footer-content .logomark {
  margin: 10% auto 10% 0%;
}

.contact {
  margin: 10% auto;
}

.body-1-light {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #9E9E9E;
}

.contact .body-1-light {
  margin: 8% 0% 15% 0%;
}

.social {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.5px;
  margin: 5% 0% 0% 0%;
}

.social-link {
  margin: 5% auto;
}

/* Sidebar, Desktop Only */
.side-bar {
  /* display: none; */
  height: 100%;
  background-color: #fafafa;
  width: 20%;
  margin: 0;
  padding: 0px 0px 1000px 0px;
  /* position: fixed; */
  /* overflow: auto; */
}

.logo {
  width: 106px;
  height: 38px;
  background-color: gray;
  margin: 15px auto 26px 20px;
}

.new-button {
  display: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  background-color: #FB8C00;
  margin: 2% 0% 2% 0%;
  padding: 10px 30px;
  border-radius: 24px;
  box-shadow: 2px 8px 3px -6px rgba(0, 0, 0, 0.14), 0px 2px 3px 1px rgba(0, 0, 0, 0.14);
}

/* Top Navigation, Folder Name, Search and Menu Icons */
.nav-bar {
  width: 100%;
  height: 56px;
  background-color: #ffff;
  display: flex;
  z-index: 2;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.left-arrow {
  height: 24px;
  width: 24px;
  margin: auto 31px auto 20px;
}

.folder-name {
  margin: auto 2px auto 0px;
}

h6 {
font-family: 'Work Sans', sans-serif;
font-size: 24px;
letter-spacing: 0.25px;
font-weight: 400;
}

.search-icon {
  height: 24px;
  width: 24px;
  margin: auto 25px auto auto;
}

.vertical-nav-icon {
  height: 24px;
  width: 24px;
  margin: auto 12px auto 0px;
}

/* List of Files  */
.file-list {
  width: 100%;
  background-color: #ffff;
  display: block;
  height: 457px;
  /* overflow: hidden; */
}

/* Individual File Cards  */

.file-content {
  width: 100%;
  background-color: #ffff;
  display: flex;
  height: 72px;
  cursor: pointer;
}

.file-img {
  height: 40px;
  width: 40px;
  margin: 16px 0px 16px 20px;
  background-color: rgba(0, 0, 0, 0.30);
  display: flex;
}

/* .file-img i {
  margin: 0;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.54);
}
*/

.file-text {
  display: block;
  margin: auto 16px;
}

.subtitle-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 16.26px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 6px;
}

.body-2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 14.79px;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.60);
}

.horizontal-nav-icon {
  height: 24px;
  width: 24px;
  margin: 24px 20px 24px auto;
  float: right;
  color: rgba(0, 0, 0, 0.60);
}

/* Create Button on the Bottom */

.fav {
  /* background-color: #ffff; */
  position: absolute;
  top: 457px;
  left: 0;
  right: 0;
  bottom: 0;
}

.fav-circle {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  background-color: orange;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.14);
}

.plus-icon {
  margin: auto;
}

/* Create Modal */

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 305px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.modal-content {
  margin: 0 auto;
  width: 280px;
  background-color: #ffff;
  /* padding: 16px; */
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.14);

}

.modal-button {
  display: flex;
  height: 48px;
  width: 280px;
  margin-left: 16px;
}

.modal-icon {
  margin-right: 20px;
}

.modal-title {
  padding-top: 4px;
}

.close {
  margin: 0px 10px 0px auto;
  float: right;
}


/* Responsive Design */
/* Tablets */


/* Desktop */

@media screen and (min-width: 700px) {

  body {
    font-size: 10px;
  }

  .container {
    display: flex;
  }

  .content {
    width: 76%;
  }
/* Nav */
  .home-nav {
    margin: 0% 5%;
  }
/* Hero */
  .overline {
    font-size: 1.5em;
  }

  h1 {
    font-size: 7em;
  }

  .body-1 {
    font-size: 2em;
  }

  .hero {
    display: flex;
    background-image:url(images/catcoffee.png);
    background-size: 65vh, contain;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .hero-content {
    width: 38%;
  }

  .hero-text {
    margin: 5% 0% 10% 0%;
  }

  .start-button {
    font-size: 2em;
  }

  /* Mockups */
  .how {
    padding: 5% 5% 5% 5%;
  }

  .feature-container {
    margin-top: 3%;
  }

  .feature-container .feature-expire {
    margin: 0% auto;
  }

  .feature-container li:nth-child(2) {
    grid-row: 2;
  }

  .feature-container li:nth-child(3) {
    grid-row: 3;
  }

  .mockup img {
    width: auto;
  }

  .mockup-title h2 {
    font-size: 3em;
    font-weight:300;
  }

/* Pricing */
  .pricing {
    background-image:url(images/motherdaughter.png);
    background-size: 65vh, contain;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .pricing-content {
    width: 40%;
  }

/* Footer */
  .footer-content {
    display: flex;
    padding: 5% 0% 1% 0%;
  }

  .footer-content .logomark {
    margin-top: 5%;
  }

  .contact {
    margin-top: 5%;
  }
  .social {
    display: contents;
  }

  .social-link {
    margin-left: 5%;
  }



/* Side Navigation */
  .side-bar {
    display: block;
  }

  .file-list {
    height: 100%;
  }

  .fav {
    display: none;
  }

  .home-nav .new-button {
    display: flex;
  }

  .home-sign {
    margin: auto 5% auto 0%;


}
